<div class="show-quote">
	<%= render partial: "quotes/show_quote", locals: {quote: quote} %>
</div>

<div class='quote-comments'>
	<div id="comments-title">Discussion</div>
	<% if !logged_in? %>
		<div id="not-logged-in-comments-message">Please login to add comments</div>
	<% end %>
	<div id="no-comments-message">
		<% if @quote.comments.empty? %>
			There are no comments. Be the first!
		<% end %>
	</div>
	<%= render partial: "comments/index" %>
</div>

<div id="comment-success">
Comment added!
</div>

<div id="comment-failure">
Error: comment not added!
</div>