<% if @bookclubs %>
<% if !@bookclubs.empty? %>
<%= render partial: "users/bookclubs" %>
<% else %>
<%= render partial: "users/no_bookclubs" %>
<% end %>
<% end %>

<div class="quotes">
	<% @quotes.each do |quote| %>
	<%= render partial: "quotes/show_quote_limit", locals: {quote: quote} %>
	<% end %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @quotes %>
</div>	

<div id="comment-success">
	Comment added!
</div>

<div id="comment-failure">
	Error: comment not added!
</div>

