<div class="welcome">
  <div id="carousel">
    <ul>
      <li>
        <div class='slide'>
          <img class='slide-1' src='/images/kindle.JPG'/>
          <div class='slide-bottom'>
            <p>Thanks for signing up! It's easy to get started: just highlight quotes from your Kindle or Kindle app and share via GoodReads or Twitter. We'll automatically sync your quotes for you.</p>
            <button class="slide-next">>></button>
          </div>
        </div>
      </li>

      <li>
        <div class='slide'>
          <img class='slide-2' src='/images/commentdiscussion.png'/>
          <div class='slide-bottom'>
            <p>With your quotes on QuoteMunk, you can browse, share, and favorite quotes. Double click on a quote card to view the discussion.</p>
            <button class="slide-next">>></button>
          </div>
        </div>
      </li>
      
      <li>
        <div class='slide'>
          <img class='slide-3' src='/images/draggy.jpg'/>
          <div class='slide-bottom'>
            <p>You can also join bookclubs with your friends. Drag and drop quote cards to add them to a bookclub. Now everyone can stay on the same <em>page</em>.</p>
            <button class="slide-done">Got it!</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>