<div class="welcome">
  <div id="carousel">
    <ul>
      <li>
        <div class='slide'>
          <img src='https://pbs.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx.png'/>
          <div class='slide-bottom'>
            <p>Welcome! Thanks for signing up! It's easy to get started, just highlight quotes from your Kindle or Kindle app and share via GoodReads or Twitter. We'll automatically sync your shared quotes for you.</p>
            <button class="slide-next">>></button>
          </div>
        </div>
      </li>

      <li>
        <div class='slide'>
          <img src='https://pbs.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx.png'/>
          <div class='slide-bottom'>
            <p>From QuoteMunk, you can browse, share and favorite quotes.</p>
            <button class="slide-next">>></button>
          </div>
        </div>
      </li>
      
      <li>
        <div class='slide'>
          <img src='https://pbs.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx.png'/>
          <div class='slide-bottom'>
            <p>You can also join bookclubs with your friends and discuss what you're currently reading.</p>
            <button class="slide-done">Got it!</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>