@import "style_guide";

.users-bookclubs {
	width: 20%;
	float: right;
	background-color: $users-bookclubs;	

	p {
		margin-bottom: 7px;
		margin-top: 5px;
		margin-left: 5%;
		width: 95%;
		padding-bottom: 5px;
		text-align: center;
		border-bottom: 3px solid $main-background;
		color: white;
		font-weight: 800;
		font-size: $bookclub-my;
		display: block;
	}

	ul {
		text-align: center;
		list-style-type: none;
		padding: 0;
		border-radius: 10px;
		margin: 0px;


		li.mouse-hover .cover-top, li.mouse-hover .cover-bottom {

				background-color: #b24a49;
				border: none;
			
		}

			/* BOOKCLUBS BAR */
		li {



			div.cover-top {
				border-radius: 5px 0 0 5px;
				border-left: 3px solid $book-color-2;
				height: 20px;
				width: 100%;
				background-color: $book-color-1;
			}

			div.cover-bottom {
				border-radius: 5px 0 0 5px;
				border-left: 3px solid $book-color-2;
				border-bottom: 2px solid $book-color-2; 
				height: 20px;
				width: 100%;
				background-color: $book-color-1;
			}


			div.book-pages {
				border: 1px solid white;
				height: 60px;
				background-color: $book-page;
				width: 95%;
				margin-left: 5%;
				background-image: url('/images/page-line.png');
				cursor: pointer;
				button {
					font-size: $bookclub-font;
					font-weight: 600;
					width: 85%;
					margin-top: 20px;
					padding: 0;
					background-color: white;
					border: none;
					border-radius: 1px;
					color: $book-page-font;
					cursor: pointer;
				}
			}
		}

		li:hover .cover-top, li:hover .cover-bottom {

				background-color: #b24a49;
				border: none;
			
		}
			
		}
	}

div.bookclubs {
	background: #6bb382;
	float: left;
}

div.bookclubs-all {
	width: 35%;
	background-color: transparent;
	margin: 0 auto;

	.bookclubs {
		background-color: transparent;

		.bookclub-cover-top {
			border-radius: 5px 3px 0 5px;
			border-left: 3px solid $book-color-2;
			border-right: 15px solid $book-color-1;
			height: 20px;
			width: 100%;
			background-color: $book-color-1;
		}

		.bookclub-cover-bottom {
			border-radius: 5px 0 2px 5px;
			border-left: 3px solid $book-color-2;
			border-bottom: 2px solid $book-color-2; 
			border-right: 15px solid $book-color-1;
			height: 20px;
			width: 100%;
			background-color: $book-color-1;
		}

		.bookclub-pages {
			border-right: 18px solid $book-color-1;
			height: 60px;
			background-color: $book-page;
			width: 95%;
			margin-left: 5%;
			background-image: url('/images/page-line.png');

			p {
				margin: 0 auto;
				display: block;
				position: relative;
				top: 1em;
				text-align: center;
				font-size: $bookclub-font;
				font-weight: 600;
				width: 90%;
				color: $book-page-font;
				background-color: white;

				button {
					position: absolute;
					right: 10%;
					bottom: -9%;
					height: 55%;
					width: 20%;
					border: none;
					text-align: center;
					color: white;
					border-radius: 2px;
				}

				button:hover {
					background-color: #66CC9A;
				}
			}
		}

	}
}

button#btn1 {
	float: left;
	margin-left: 50px;
	border: none;
	padding: 0;
	font-size: 14px;
	border-radius: 2px;
	margin-top: 2em;
	padding: 0.6em;
	width: 220px;
	height: 50px;
}

form#new_bookclub {
	display: none;
	position: absolute;
	right: 100px;
	top: 180px;

	label {
		display: block;
		color: white;
		font-size: 15px;
		text-align: left;		
		font-weight: 600;
	}

	#submit, #cancel {
		background-color: white;
		margin-top: 10px;
		border-radius: 6px;
		font-size: 14px;
		border: none;
		color: $quote-info-color;
		width: 80px;
	}

	#cancel{
		position: absolute;
		right: 0;
	}

	#bookclub_name {
		font-size: 13px;
		width: 300px;
		height: 22px;
		border-radius: 4px;
		margin-bottom: 5px;
		border: 2px solid white;
		background-color: transparent;
		color: white;
		resize: none;
		padding: 5px;
	}

	#bookclub_description {
		font-size: 13px;
		width: 300px;
		height: 66px;
		border-radius: 4px;
		resize: none;
		border: 2px solid white;
		background-color: transparent;
		color: white;
		padding: 5px;
	}
}

#btn1 {
	background: white;
	border: 1px $quote-info-color solid;
	color: $quote-info-color;
	width: 100px;
	border-radius: 10px;
	position: absolute;
	right: 150px;
	padding: 10px;
	cursor: pointer;
	margin: 0;

}

div.success {
	position: fixed;
	width: 200px;
	padding: 15px;
	display: none;
	left: 600px;
	text-align: center;
	top: 200px;
	background-color: $success-background;
	
	z-index: 10000;
	border-radius: 10px;

	p {
		color: white;
		font-size: 15px;
		font-family: $global-font;
	}
}

div.failure {
	position: fixed;
	width: 200px;
	text-align: center;
	padding: 15px;
	left: 600px;
	display:none;
	top: 200px;
	background-color: $error-background;
	color: white;
	z-index: 10000;
	border-radius: 10px;
	p {
		color: white;
		font-size: 15px;
		font-family: $global-font;
	}
}
