@import "style_guide";

.users-bookclubs {
	width: 20%;
	float: right;
	background-color: $users-bookclubs;
	color: white;	
	
	a {
		color: $quote-info-color;
		font-weight: bolder;
	}
	p {
		margin-bottom: 7px;
		margin-left: 5%;
		width: 95%;
		padding-bottom: 5px;
		text-align: center;
		border-bottom: 3px solid $main-background;
		color: white;
		font-weight: 800;
		font-size: $bookclub-my;
		display: block;
	}

	ul {
		text-align: center;
		list-style-type: none;
		padding: 0;
		border-radius: 10px;
		margin: 0px;


		li.mouse-hover .cover-top, li.mouse-hover .cover-bottom {

				background-color: #b24a49;
				border: none;
			
		}

			/* BOOKCLUBS BAR */
		li {

			div.cover-top {
				border-radius: 8px 0 0 5px;
				border-left: 3px solid $book-color-2;
				height: 20px;
				width: 100%;
				background-color: $book-color-1;
			}

			div.cover-bottom {
				border-radius: 8px 0 0 5px;
				border-left: 3px solid $book-color-2;
				border-bottom: 2px solid $book-color-2; 
				height: 20px;
				width: 100%;
				background-color: $book-color-1;
			}


			div.book-pages {
				border: 1px solid white;
				height: 60px;
				background-color: $book-page;
				width: 95%;
				margin-left: 5%;
				background-image: url('/images/page-line.png');
				cursor: pointer;
				button {
					font-size: $bookclub-font;
					font-weight: 600;
					width: 85%;
					margin-top: 20px;
					padding: 0;
					background-color: white;
					border: none;
					border-radius: 1px;
					color: $book-page-font;
					cursor: pointer;
				}
			}
		}

		li:hover .cover-top, li:hover .cover-bottom {

				background-color: #b24a49;
				border: none;
			
		}
			
		}
	}

div.bookclubs {
	background: #6bb382;
	float: left;
}

div.bookclubs-all {
	max-width: 35%;
	background-color: transparent;
	margin: 0 auto;

	.bookclubs {
		background-color: transparent;

		.bookclub-belong {

			.bookclub-cover-top {
				width: 350px;
				background-color: $book-color-1;
				border-right: $book-color-1;
				border-left: 3px solid $book-color-4;
			}

			.bookclub-cover-bottom {
				background-color: $book-color-1;
				border-right: $book-color-1;
				border-left: 3px solid $book-color-4;
				border-bottom: 2px solid $book-color-4; 
			}

			.bookclub-pages {
				border-color: $book-color-1; 
				max-width: 350px;
			}

		}

		.bookclub-cover-top {
			border-radius: 8px 10px 0 5px;
			border-left: 3px solid $book-color-2;
			border-right: 15px solid $book-color-3;
			height: 20px;
			width: 350px;
			background-color: $book-color-3;
		}

		.bookclub-cover-bottom {
			border-radius: 6px 0 6px 5px;
			border-left: 3px solid $book-color-2;
			border-bottom: 2px solid $book-color-2; 
			border-right: $book-color-3;
			height: 20px;
			max-width: 350px;
			background-color: $book-color-3;
		}

		.bookclub-pages {
			border-right: 18px solid $book-color-3;
			height: 60px;
			background-color: $book-page;
			width: 336px;
			margin-left: 4%;
			background-image: url('/images/page-line.png');

			p {
				margin: 0 auto;
				display: block;
				position: relative;
				top: 1em;
				text-align: center;
				font-size: $bookclub-font;
				font-weight: 600;
				max-width: 90%;
				color: $book-page-font;
				background-color: white;
				z-index: 1;
				word-wrap: break-word;
			}

			/* JOIN BOOKCLUB */

			.controller-wrapper {
				z-index: 2;
		    position: relative;
		    left: 23em;

				.bookclub-join {
					z-index: 2;
		      position: absolute;
		      width: 80px;
		      margin: 0;
		      height: 20px;
		      font-size: 13px;
		      border-radius: 3px;
		      background-color: #AEF5AF;
		      display: block;
		      color: #696B69;
		      text-align: center;
		      border: 1px solid #AEF5AF;
		      outline: none;
				}

				.bookclub-join:hover {
					background-color: #696B69;
					color: #AEF5AF;
					border-color: #696B69;
				}

				.admin-page {
					z-index: 2;
		      position: absolute;
		      width: 80px;
		      margin: 0;
		      height: 20px;
		      font-size: 13px;
		      border-radius: 3px;
		      background-color: #7B93DB;
		      display: block;
		      color: white;
		      text-align: center;
		      border: 1px solid #7B93DB;
		      outline: none;		

		      a {
		      	color: white;
		      	font-weight: 600;
		      }			

				}

				.admin-page:hover > a , .admin-page:hover{
					background-color: white;
					color: #7B93DB;
					border-color: white;
				}

				.admin-options {

					.delete-bookclub {
						z-index: 2;
			      position: absolute;
			      left: 5em;
			      top: 1em;
			      width: 80px;
			      margin: 0;
			      height: 20px;
			      font-size: 13px;
			      border-radius: 3px;
			      background-color: #F05D5D;
			      display: block;
			      color: white;
			      text-align: center;
			      border: 2px solid #F05D5D;
			      outline: none;	
			      font-weight: 600;
					}

					.delete-bookclub:hover {
						color: #F05D5D;
						background-color: white;
						border: 2px solid #F05D5D;
					}

				}				
			}
		}
	}	

}

button#btn1 {
	position: absolute;
	top: 50px;
	margin-left: 50px;
	border: none;
	padding: 0;
	font-size: 14px;
	border-radius: 2px;
	margin-top: 2em;
	padding: 0.6em;
	width: 220px;
	height: 50px;
}

form#new_bookclub {
	display: none;
	position: absolute;
	right: 100px;
	top: 180px;

	label {
		display: block;
		color: white;
		font-size: 15px;
		text-align: left;		
		font-weight: 600;
	}

	#submit, #cancel {
		background-color: white;
		margin-top: 10px;
		border-radius: 6px;
		font-size: 14px;
		border: none;
		color: $quote-info-color;
		width: 80px;
	}

	#cancel{
		position: absolute;
		right: 0;
	}

	#bookclub_name {
		font-size: 13px;
		width: 350px;
		height: 22px;
		border-radius: 4px;
		margin-bottom: 5px;
		border: 2px solid white;
		background-color: transparent;
		color: white;
		resize: none;
		padding: 5px;
	}

	#bookclub_description {
		font-size: 13px;
		width: 350px;
		height: 66px;
		border-radius: 4px;
		resize: none;
		border: 2px solid white;
		background-color: transparent;
		color: white;
		padding: 5px;
	}
}

#btn1 {
	background: white;
	border: 1px $quote-info-color solid;
	color: $quote-info-color;
	width: 100px;
	border-radius: 10px;
	position: absolute;
	right: 150px;
	padding: 10px;
	cursor: pointer;
	margin: 0;

}

div.success {
	position: fixed;
	width: 200px;
	padding: 15px;
	display: none;
	left: 600px;
	text-align: center;
	top: 200px;
	background-color: $success-background;
	
	z-index: 10000;
	border-radius: 10px;

	p {
		color: white;
		font-size: 15px;
		font-family: $global-font;
	}
}

div.failure {
	position: fixed;
	width: 200px;
	text-align: center;
	padding: 15px;
	left: 600px;
	display:none;
	top: 200px;
	background-color: $error-background;
	color: white;
	z-index: 10000;
	border-radius: 10px;
	p {
		color: white;
		font-size: 15px;
		font-family: $global-font;
	}
}
