@import "style_guide";

.no-search-results, .no-favorites, .no-bookclub-quotes, .no-user-quotes {
  margin: 5px;
  margin-top: 30px;
  text-align: center;
  color: $header-background;
  font-weight: 700;
  font-size: 14px;
  display: block;
} 

#no-comments-message {
	padding-top: 10px;
	color: white;
}