@import "style_guide";

/* HOME PAGE */

.quotes {
  width: 40%;
  margin: 2em 20% 0 20%;

  /* SHARE LINK */

  .share-link {
    z-index: 2;
    left: 20.1em;
    bottom: 1.5em;
    position: relative;

    input {
      position: absolute;
      width: 250px;
      margin: 0;
      height: 20px;
      font-size: 12px;
      border-radius: 3px;
      background-color: rgba(230, 230, 230, 0.8);
      display: block;
      color: green;
      text-align: center;
      border: 1px solid rgba(230, 230, 230, 1.0);
      outline: none;
    }
  }

  }

.page-info {
  margin: 5px;
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: $bookclub-my;
  display: block;

  .page-info-bc-desc {
    color: white;
    font-style: italic;
    font-size: 0.7em;
  }
}

.hero-image {
  background-color: white;
  width: 100%;
  height: 400px;
  margin-top: 6em;
}

.home-quotes {
  margin: 3em auto 0 auto;
}


button {
  display: inline-block;
  width: 5em;
}

.qtip-content {
  font-size: $instructions-font-size;
  color: $instructions-font-color;
}

