@import "style_guide";

/* WELCOME PAGE */ 

.welcome {
  margin: 0 auto;
  background-color: $header-background;
  width: 1200px;
  height: 650px;
  border-radius: 4px;
  opacity: 0.9;

  #carousel {
    margin: 100px auto 0 auto;
    width: 1200px;
    height: 700px;
    overflow:hidden;
    border-radius: 4px;

    ul {
      width: 4000px;
      padding: 0;
      margin: 0;

      li {
        width: 1200px;
        text-align: center;
        height: 700px;
        list-style: none;
        float:  left;

        .slide {
          width: 1200px;
          height: 700px;
          background-color: transparent;

          .slide-1, .slide-2, .slide-3 {
            margin: 20px;
            height: 425px;
          }

          .slide-1 {
            border-radius: 999px;
            width: 425px;
          }

          .slide-2 {
            border-radius: 4px;
          }

          .slide-3 {
            border-radius: 4px;
          }

          .slide-bottom {
            margin-top: 15px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 15px;
            height: 167px;
            border-radius: 0 0 4px 4px;

            p {
              width: 60%;
              margin: 15px auto 0 auto;
              color: $header-background;
              font-weight: 700;
              line-height: 25px;
              
              em {
                color: white;
              }
            }

            button {
              display: block;
              margin: 25px auto 0 auto;
              border: 2px solid $header-background;
              background-color: transparent;
              width: 100px;
              height: 30px;
              color: $header-background;
              font-weight: 900;
              font-size: 18px;
              border-radius: 4px;
            }

            .slide-done {
              font-weight: 500;
            }

            button:hover {
              background-color: $header-background;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }

      }
    }
  }
}
