@import "style_guide";

/* WELCOME PAGE */ 

.welcome {
  margin: 0 auto;
  background-color: white;
  width: 90%;
  height: 40em;
  border-radius: 4px;

  #carousel {
    margin: 100px auto 0 auto;
    width: 1200px;
    height: 700px;
    overflow:hidden;
    border-radius: 4px;

    ul {
      width: 4000px;
      padding: 0;
      margin: 0;
      border-radius: 4px;

      li {
        width: 1200px;
        text-align: center;
        height: 700px;
        list-style: none;
        float:  left;
        border-radius: 4px;

        .slide {
          width: 1200px;
          height: 700px;
          background-color: transparent;

          img {
            margin: 20px;
            border-radius: 999px;
            height: 400px;
            width: 400px;
          }

          .slide-bottom {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 1em;
            border-radius: 4px;
            height: 122px;

            p {
              width: 60%;
              margin: 0 auto;
              color: white;
              font-weight: 700;
              line-height: 25px;
              
              em {
                color: white;
              }
            }

            button {
              display: block;
              margin: 10px auto 0 auto;
              border: 2px solid white;
              background-color: transparent;
              width: 100px;
              height: 30px;
              color: white;
              font-weight: 900;
              font-size: 18px;
              border-radius: 4px;
            }

            .slide-done {
              font-weight: 500;
            }

            button:hover {
              background-color: white;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }

      }
    }
  }
}
