<div class="bookclubs-all clearfix" data-current-user="<%= current_user.id %>"><div class='bookclubs'></div></div>
<%= button_tag "Create a new bookclub!", id: "btn1"%>

<%= render "bookclubs/clubform" %>

